@model App.Core.Entities.StudentInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Program.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.Name)
        </dd>

        
        <dt>
            @Html.DisplayNameFor(model => model.IdNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
